.title {
    color: blue;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: red;
    padding: 10px;
    height: 400px;
    width: 400px;
}