.title {
    color: blue;
    text-align: center;
    font-size: 19px;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button {
    width: 100px;
    height: 25px;
    align-self: center;
    background-color: rgb(24, 164, 24);
    border: none;
    color: white;
    font-weight: 10;
    letter-spacing: 1.5px;
}

button:hover{
    opacity: 0.85;
}

input {
    width: 300px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #64748b;
    letter-spacing: 1px;
    background: #b1bbc3;
    border: none;
}

.registerLink {
    color: #2563eb;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

p {
    font-size: 14px;
}